<div>
  <div  id="editWindow">
    <input type="text" name="id"  [(ngModel)]="searchBook" (input)="onSearchTextChanged()" placeholder="Search a book">
      <form id="selectUser" #booksForm="ngForm">
        <div hidden>
          <input type="text" name="id"  [(ngModel)]="book.id">
        </div>
        <div hidden>
          <input type="text" name="title"  [(ngModel)]="book.title">
        </div>
          <div hidden>
          <input type="text" name="author"  [(ngModel)]="book.author">
        </div>
          <div hidden>
          <input  type="text" name="genre"  [(ngModel)]="book.genre">
        </div>
        <div hidden>
          <input  type="text" name="description"  [(ngModel)]="book.description">
        </div>
        <div hidden>
          <input  type="text" name="cover"  [(ngModel)]="book.cover">
        </div>
        <div>
          <select name="users" [(ngModel)]="book.users" onselect="searchUser()">
            <option>En stock</option>
            <option *ngFor="let user of users" value="{{user.name}}" >{{user.name}}</option>
          </select>
          <button (click)="updateBook(book.id, book)">EDIT</button>
        </div>
        
      </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>author</th>
        <th>genre</th>
        <th>Borrower</th>
      </tr>
    </thead>
    <tbody *ngFor="let book of books">
      <tr  *ngIf="searchBook === '' || book.title.toLowerCase().includes(searchBook) " >
        <td><a routerLink="/book/{{book.id}}" class="nav-link">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.users}}</td>
        <button (click)="deleteBook(book, book.id)" class="button"> Delete Book</button>
        <button (click)="editButton(book.id)" class="button"> Change Users</button>
      </tr>
    </tbody>
  </table>
</div>